html {
    font-family: fantasy;
    background-color: white;
}
#header {
    background-color: peachpuff;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    height: 60px;
}
#mySearch {
    font-size: 20px;
    margin: 10px;
}
#nav-bar {
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    flex: 3;
    font-size: 4rem;
    font-family:fantasy;
    color:peachpuff;
    text-shadow: 2px 2px 4px #000000;
    justify-content: center;
    margin: 0;
}
nav {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    background-color:peachpuff;
}
.nav-item {
    display: flex;
    padding: 1%;
}
.nav-item:hover {
    color: salmon;
    transition: background-color 1s;
}
#about {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRfQAJCigQ6oSxwpn1KUKC2LClBQohYcfgRg&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 2px 2px gray;
}
.welcome {
    font-size: 3rem;
    background: none;
}
.welcome-par {
    font-size: 30px;
    margin: 1%;
}
.start-button {
    margin: 20px;
    font-size: 1rem;
    border-radius: 10px;
    font-family: fantasy;
    background-color: peachpuff;
}
.pick-title {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: peachpuff;
}
h2 {
    font-size: 3rem;
}
h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}
h4 {
    font-size: 1rem;;
    margin: 1;
    text-align: center;
}
#content {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#uname {
    border: white;
}
.logo-list-1 {
    display: flex;
    flex-direction: row;
}
.logo-list-2 {
    display: flex;
    flex-direction: row-reverse;
}
.plan-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    margin: 1%;
    flex: 2;
    align-items: center;
}
.flight-list {
    display: flex;
    flex-direction: column;
    flex: 2;
}
.logo {
    display: flex;
    width: 100%;
    height:100%;
    margin: 1%;
    flex: 1;
    align-self: center;
}
legend {
    font-size: x-large;
}
label {
    font-size: large;
}
.plan-list {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 1%;
    flex: 2;
    align-self: center;
}

#destinations > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.country {
    display: flex;
    flex-direction: column;
    border-color: black;
    margin: 1%;
    border-radius:2rem;
    border-color: white;
    align-items: center;
}
.country:hover {
    background-color:salmon;
    border: thick double gray;
    transition: 1s;
}
.country-name {
    text-shadow: 2px 2px 4px gray;
    text-align: center;
}
.spots-list {
    display: flex;
    flex-flow: row wrap;
}
h5 {
    text-align: center;
    width:150px;
    height:15px;
}